* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  body {
    /*
    * Created with https://www.css-gradient.com
    * Gradient link: https://www.css-gradient.com/?c1=bdb29d&c2=fff4e7&gt=c&gd=dbr
    */
    background: #BDB29D;
    background: conic-gradient(from 135deg, #BDB29D, #FFF4E7);
    background-size: 100vw 100vh;
    margin: 0;
    padding: 0;
  }
  
  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: rgba(248, 248, 248, 0);
    padding: 0;
  }
  
  .logo {
    margin-top: 30px;
    max-width: 180px;
    height: auto;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    animation: fade-down 1s ease-in forwards;
  }
  
  .centered-text {
    text-align: center;
    color: white;
    font-family: 'klaristhathin';
    font-size: 250px;
    opacity: 0;
    animation: fade-down .5s ease-in forwards 1s;
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .logo {
      max-width: 150px;
    }
    
    .centered-text {
      font-size: 100px;
    }
  }
  
  /* Animation keyframes */
  @keyframes fade-down {
    from {
      opacity: 0;
      transform: translateY(-50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  